@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-times {
        font-family: "Times New Roman", Times, serif;
    }

    @media print {
        @page {
            size: A4;
            margin-left: 2cm;
            margin-top: 2cm;
            margin-right: 2cm;
            margin-bottom: 2cm;
        }

        body {
            font-size: 14pt;
            font-family: "Times New Roman", Times, serif;
        }
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
